/* BASIC FONTS FOR PROJECT */


@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Lato-Medium.woff') format('woff'),
       url('../assets/fonts/Lato-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
