/* BASIC GRID FOR PROJECT */

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: $container_padding;
  padding-right: $container_padding;
  box-sizing: border-box;
  @include cf();
}
@media (min-width: $breakpoint_mobile) {
  .container {
    width: $breakpoint_mobile - $container_margin;
  }
}
@media (min-width: $breakpoint_tablet_sm) {
  .container {
    width: $breakpoint_tablet_sm - $container_margin;
  }
}
@media (min-width: $breakpoint_tablet_md) {
  .container {
    width: $breakpoint_tablet_md - $container_margin;
  }
}
@media (min-width: $breakpoint_tablet_lg) {
  .container {
    width: $breakpoint_tablet_lg - $container_margin;
  }
}
@media (min-width: $breakpoint_desktop) {
  .container {
    width: $breakpoint_desktop - 15px;
  }
}
.container-fluid {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: $container_padding;
  padding-right: $container_padding;
  box-sizing: border-box;
  @include cf();
}
