/* BASIC STYLE */

// Set box-sizing = border-box to all elements
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font_default, $font_base;
  font-size: $size_font;
  line-height: $size_line_height;
  letter-spacing: $size_letter_spacing;
  color: $color_font;
  background-color: $color_body_bg;
}

header {
  z-index: $z-index_header;
  background-color: $color_header_bg;
}

footer {
  z-index: $z-index_footer;
  background-color: $color_footer_bg;
}

main {
  z-index: $z-index_main;
  margin-top:80px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_title;
  color: $color_font_title;
}

a {
  color: $color_font_link;
}

img {
  max-width: 100%;
}
