.button {
  cursor: pointer;
  display: inline-block;
  color: $color_white;
  background: $color_primary;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 24px;
  transition: all 0.25s;

  &:hover {
    background: $color_dark;
  }
}

@include maxw(580px) {
  .button {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
