/* BASIC VARIABLES FOR PROJECT */

// ----------------------------
/* Colors */

// Default colors
$color_black: #000000;
$color_white: #ffffff;
$color_primary: #2980b9;

$color_dark: #2c3e50;
$color_light: #ecf0f1;

// Font colors
$color_font: $color_black;
$color_font_title: $color_black;
$color_font_link: $color_black;

// Modules colors

$color_body_bg: $color_white;
$color_header_bg: $color_dark;
$color_footer_bg: $color_dark;

// ----------------------------
/* Fonts */

$font_base: sans-serif;
$font_default: Lato;
$font_title: $font_default;

// ----------------------------
/* Size */

// Unit size (use it as base size)
$size_unit: 5px;

// Font size
$size_font: 16px;
$size_line_height: 1.5;
$size_letter_spacing: 0.1em;

// Container size
$container_padding: 3 * $size_unit;
$container_margin: 3 * $size_unit;

// Brakpoint size
$breakpoint_mobile: 580px;
$breakpoint_tablet_sm: 768px;
$breakpoint_tablet_md: 992px;
$breakpoint_tablet_lg: 1024px;
$breakpoint_desktop: 1170px;

// ----------------------------
/* Others variable */

// Z-index default value
$z-index_header: 100;
$z-index_footer: 90;
$z-index_main: 10;
